<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="../static/styles/index_2.css">

    <title>Translation</title>
</head>

<body>
    <!-- <div class="loader-container">
        <div class="loader"></div>
    </div>
-->
    <div class="presentation">
        <button class="start">Start Translation</button>
    </div>
    <div class="background" id="particles-js"></div>
    <div class="container" id="particles-js">
        <div class="inner-container">
            </span> <span class="langs">
                <select id="source_Language" name="source_Language">
                    <li class="active2">English</li>
                    <option value="">choose the language</option>
                    <option value="en" selected>English</option>
                    <option value="fr">Francais</option>
                    <option value="es">Spanich</option>
                    <option value="ar">Arabic</option>
                    <option value="it">Italian</option>
                    <option value="uk">Ukrainian</option>
                    <option value="pt">portuguese</option>
                    <option value="ro">romanian</option>
                    <option value="ru">russian</option>
                </select>
                <select id="target_Language" name="target_Language">
                    <li class="active2">English</li>
                    <option value="">choose the language</option>
                    <option value="en">English</option>
                    <option value="fr" selected>Francais</option>
                    <option value="es">Spanich</option>
                    <option value="ar">Arabic</option>
                    <option value="it">Italian</option>
                    <option value="uk">Ukrainian</option>
                    <option value="pt">portuguese</option>
                    <option value="ro">romanian</option>
                    <option value="ru">russian</option>
                </select>

            </span>
            <form id="form">
                <span class="left-column">
                    <textarea name="input" id='inputtextarea' cols="65" rows="4" autocomplete="off" autocorrect="off"
                        autocapitalize="off" placeholder="enter the text" dir="rtl" maxlength="480"
                        class="input"></textarea>
                    <span class="clear"><i class="fas fa-times"></i></span>
                    <span class="options2">
                        <span>
                            <span class="keyboard">
                                <i class="fas fa-keyboard"></i>
                                <span class="tooltip" id="tip"> keyboard</span>
                            </span>
                            <span class="ar-speaker">
                                <i class="fas fa-volume-up"></i>
                                <span class="tooltip" id="tip">listen</span>
                            </span>
                        </span>
                        <span class="limit">0/480</span>
                    </span>
                </span>
                <span class="right-column">
                    <textarea name="output" id='outputtextarea' cols="65" rows="4" autocomplete="off" autocorrect="off"
                        autocapitalize="off" placeholder="Translation" readonly></textarea>
                    <span class="options1">
                        <span class="en-speaker">
                            <i class="fas fa-volume-up"></i>
                            <span class="tooltip" id="tip">listen</span>
                        </span>
                        <span class="copy">
                            <i class="fas fa-copy"></i>
                            <span class="tooltip" id="tip">copy translation</span>
                        </span>
                    </span>
                </span>

                <input type="submit" value="Translate" class="btn">
            </form>
        </div>
        <div class="alert-copy"></div>
        <footer class="footer">
            <span class="footerBtn"><i class="fas fa-angle-double-up"></i></span>

        </footer>
        <div class="simple-keyboard"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/particles.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=83eWphMS"></script>
    <script src="../static/js/index_2.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>